.wrapper
  = render "top-bar"

.main
  %ul.slick
    %li
      = link_to image_tag('gazo.JPG', size: '700x400', alt: "サンプル画像", class: "1"), 'https://www.shigakogen.gr.jp/'
    %li
      = link_to image_tag('gazou2.JPG', size: '700x400', alt: "サンプル画像", class: "2"), 'https://www.happo-one.jp/winter/'
    %li
      = link_to image_tag('gazou3.JPG', size: '700x400', alt: "サンプル画像", class: "3"), 'http://www.nozawaski.com/index.php'
.review